<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This NFL Rails page
  is a project to develop Ruby on Rails skills in a fun and creative environment
  with the help of <a href="http://www.cmu.edu/silicon-valley">Carnegie Mellon Silicon Valley</a>. This
  is the first application done by Adam Olshansky.
</p>