<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  The <a href="http://www.nfl.com/">National Football League</a>
  holds trademarks to all team nicknames and logos.
  Please contact
  <a href="mailto:adam.olshansky@sv.cmu.edu">Adam Olshansky</a>
  for more information for this site.
</p>
