<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This is a Rails website to show NFL scores for your favorite team.  Please visit the
  <a href="http://www.nfl.com/scores">NFL.com Scores Page</a> for more in-depth analysis.
  To navigate to your particular teams page, please enter the identifier for the team at the end of the URL.
  For example, for the Arizona Cardinals, navigate to:
  <a href=teams/ari>URI/teams/ari</a> where URI is the home page.

  Alternatively, find your team on the <a href=/teams>Teams</a> page.
</p>
