<h1>Welcome to the NFL Rails Page</h1>

<h2>
  This is the home page for the
  <a href="http://www.nfl.com/">NFL</a>
  Rails App sample application.
</h2>
<h2>To see your favorite team, click <a href=/teams>here</a></h2>

