<footer class="footer">
  <small>
    <a href="http://www.nfl.com/">NFL Rails App</a>
    by Adam Olshansky
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.nfl.com/scores/">Scores</a></li>
    </ul>
  </nav>
</footer>